name: Test Workflow

on: push

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show files
        run: ls -la

      - name: Show current branch
        run: echo "Branch: ${{ github.ref }}"